@using RMGChess.Core;
<h3>Chessboard</h3>
@for (int rank = 8; rank >= 1; rank--)
{
    (string odd, string even) = (rank % 2 != 0) ? (LIGHT_COLOUR, DARK_COLOUR) : (DARK_COLOUR, LIGHT_COLOUR);

    <div style="padding:0; margin:0; height:30px">
        @for (char file='a'; file <= 'h'; file++)
        {
            Square square = board[file, rank];
            string fontColour = (square.Piece?.IsBlack ?? true) ? "black" : "white";
            string squareColour = ((int)file % 2 != 0) ? odd : even ;
            <BoardSquare Symbol="@(square.Piece?.Symbol ?? ' ')" FontColour="@fontColour" SquareColour="@squareColour"  />
         }
    </div>
}

@code {
    [Parameter]
    public Game Game { get; set; } = new Game();

    const string LIGHT_COLOUR = "lightgray";
    const string DARK_COLOUR = "darkgray";
   

     Board board => Game.Board;
   

}
