<h3>Beep @Playing</h3>
@if (Playing)
{
    <audio autoplay loop preload="auto" src="/beep.wav" />
}
else
{
    <audio muted loop preload="auto" src="/beep.wav" />
}
@code {
    [Parameter]
    public bool Playing { get; set; }
}
