@page "/chip-8"
@using System.Reflection.Emit
@using CHIP_8_Virtual_Machine
@inject IJSRuntime JS


<div tabindex="0" @ref="keyDownDiv" @onkeydown="KeyDown" @onkeyup="KeyUp" @onkeypress="KeyPress">

    <h3>Canvas for Chip-8</h3>

    <canvas id="myCanvas" width="800" height="600" style="border:1px solid #000000;"></canvas>

    <p>@KeypadState</p>

</div>

@code {
    private Keypad _keypad = new();
    private ElementReference keyDownDiv;

    public string KeypadState => _keypad.ToString();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await keyDownDiv.FocusAsync();
        }
    }

    private void KeyDown(KeyboardEventArgs e)
    {
        try
        {
            _keypad.WindowsKeyDown(e.Key.ToUpper());
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void KeyUp(KeyboardEventArgs e)
    {
        try
        {
            _keypad.WindowsKeyUp(e.Key.ToUpper());
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void KeyPress(KeyboardEventArgs e) { }
}